body {
  background-image: url("./img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Oswald", sans-serif;
}

.logo {
  max-width: 400px;
  max-height: 300px;
}

.list-wrapper {
  background-color: rgba(248, 151, 98, 0);
  border: none;
}

.todo-list {
  background-color: rgb(230, 81, 7);
}

.todo-list li {
  list-style: none;
}

.todo-list li:nth-child(odd) {
  background-color: rgb(252, 166, 93);
  color: #000;
}

.trash-btn {
  background-color: rgb(77, 25, 5);
  color: rgb(230, 81, 7);
  border: 1px solid #333;
}

.trash-btn:hover {
  color: rgb(146, 81, 24)
}
